.financeiro-container {
    padding: 25px;
    z-index: 1;
    position: relative;
    display: flex;
    height: 60vh;
    overflow: hidden;
    bottom: 10vh;
    top: 5vh;
  } 
  .financeiro-container-app::before {
    content: "";
    position: absolute;
    bottom: 55vh;
   /* Posiciona a linha na metade inferior do contêiner */
    left: 50%;
    width: 20%; /* Largura inicial da linha (invisível) */
    height: 2px; /* Altura da linha */
    background-color: orange; /* Cor da linha */
    transition: width 0.3s ease; /* Adiciona uma transição suave para a largura da linha */
    z-index: 1; /* Coloca a linha sobre o texto */
    transform: translateX(-50%);
    margin-right: 10%;
  }
  
  .financeiro-container-app:hover::before {
    width: 90%; /* Quando o contêiner pai é passado pelo mouse, a linha aparece completamente */
  }

  .video-container {
    position: relative;
    top: 10%;
    width: 50%; /* Defina a largura do vídeo como 100% */
    padding: 5px;
    margin-bottom: 10px;

  }
  
  .video-container iframe {
    width: 100%;
    height: 100%; /* Isso garantirá que o vídeo ocupe 100% da largura e altura do contêiner */
  }
  
 
.iconFinanceiro {
    position: absolute;
    top: 0px; /* Ajuste a distância vertical entre o ícone e o texto conforme necessário */
    left: 50%; /* Posiciona o ícone no centro horizontalmente */
    transform: translateX(-50%); /* Corrige o posicionamento horizontal do ícone */
    z-index: 2;
    /* Adicione estilos para o ícone, como background-image, width, height, etc. */
  }
  
  .text-content {
    top: 20px;
    position: relative;
    z-index: 1;
    /* Outros estilos para o texto conforme necessário */
  }
  
  
  .financeiro-content {
    flex: 1;
    padding-right: 20px; /* Adicione algum espaçamento à direita para separar os itens */
    display: flex;

  }
  @media screen and (max-width: 550px) {
    .financeiro-container {
        background-color: white;
        padding: 40px;
        z-index: 1;
        position: relative;
        display: flex;
        height: 90vh;
      }
      .video-youtube{
        width: 100vh;
        height: 50vh;
    
      }
      .video-container {
        position: relative;
        top: 10%;
        width: 125%; /* Defina a largura do vídeo como 100% */
        padding: 5px;
        margin-bottom: 10px;
    
      }
  }
      
 /*  
  .video-container {
    position: relative;
    overflow: hidden;
    width: 640px; height: 360px; left: 0px; top: 0px;
  }
 
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo cubra completamente o contêiner 
  }
  
  
}*/